server/venv
server/app/__pycache__
CartaVSQL
server/.env.env
*/cpython-313.pyc
server/app/services/__pycache__/auth_services.cpython-313.pyc
server/app/services/__pycache__/users_services.cpython-313.pyc
server/.env
Fronts/ControlPanel/.env
server/app/services/utils/geoDB/countries+states+cities.json
server/app/connections/__pycache__/pg_database.cpython-313.pyc
.gitignore
server/app/emails/__pycache__/UserLoginMail.cpython-313.pyc
server/app/connections/__pycache__/redis_conn.cpython-313.pyc
.gitignore
server/app/emails/__pycache__/UserValidationMail.cpython-313.pyc
.gitignore
server/app/routes/__pycache__/auth_routes.cpython-313.pyc
.gitignore

# Ignorar todas las carpetas __pycache__ y archivos .pyc en cualquier lugar
**/__pycache__/
**/*.pyc
placeholder_images.py
server/alembic/versions/*
server/__pycache__/config.cpython-313.pyc
server/app/services/Geographic/countries+states+cities.json
